<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Recipe Home</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel-group">
        <div class="card card-primary border border-primary" style="margin: 20px 0">
          <div class="card-header bg-primary text-light">
            <h6 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h6>
            <div class="col-md-1">
              <a class="btn btn-default" href="#"
                 th:href="@{'/recipe/' + ${recipe.id} + '/image'}" role="button">Change Image</a>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-3">
                <h6>Categories:</h6>
              </div>
              <div class="col-md-9">
                <ul>
                  <li th:each="cat : ${recipe.categories}" th:text="${cat.description}"/>
                </ul>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-3">
                <h6>Prep Time:</h6>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.prepTime} + ' min'" />
              </div>
              <div class="col-md-3">
                <h6>Difficulty:</h6>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.difficulty}" />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-3">
                <h6>Cooktime:</h6>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.cookTime} + ' min'" />
              </div>
              <div class="col-md-3">
                <h6>Servings:</h6>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.servings}" />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-3">
                <h6>Source:</h6>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.servings} + ' min'" />
              </div>
              <div class="col-md-3">
                <h6>URL:</h6>
              </div>
              <div class="col-md-3">
                <p th:text="${recipe.url}" />
              </div>
            </div>
          </div>
        </div>
        <div class="card card-primary border border-primary" style="margin: 20px 0;">
          <div class="card-header bg-primary text-light mb-3">
            <div class="row">
              <div class="col-md-11 ">
                <h2 class="card-title">Ingredients</h2>
              </div>
              <div class="col-md-1">
                <a class="btn btn-light" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <ul>
                  <li th:each="ingr : ${recipe.ingredients}" th:text="${ingr.amount} + ' ' + ${ingr.uom.description} + ' of ' + ${ingr.description}"/>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-primary border border-primary" style="margin: 20px 0;">
          <div class="card-header bg-primary text-light">
            <h6 class="card-title">Directions</h6>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <p th:text="${recipe.directions}" />
              </div>
            </div>
          </div>
        </div>
        <div class="card card-primary border border-primary" style="margin: 20px 0;">
          <div class="card-header bg-primary text-light">
            <h6 class="card-title">Notes</h6>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <p th:text="not working" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<style>
  h6 {
    font-weight: bold;
  }
</style>